deb http://aptmirror/debian/bookworm bookworm main
deb http://aptmirror/debian/bookworm bookworm-updates main
deb http://aptmirror/debian/bookworm-security bookworm-security main
deb http://aptmirror/debian/bookworm bookworm non-free non-free-firmware